*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body{
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    color: #555;
 }
/* -----nav bar--- */
.navbar{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.788);
    color: white;

}

.container-fluid{
    display: flex;
    align-items: center;
    color: white;
}

.navright{
    display: flex;
    margin-left: auto;
}

li{
    list-style-type: none;
    margin-left: 15px;
}

li a,.container-fluid a{
    text-decoration-style: none;
    text-decoration: none;
    color: white;
}
 h2{
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
 }
 .products{
   width: 90%;
   margin: 10px auto;
     display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    gap: 20px;
     
 }
 .product{
    padding: 10px;
    width: 350px;

    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
 }
 .product img{
    width: 100%;
    height: 200px;
    /* display: block; */
 }
 .product .title{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    font-weight: 600;
    text-transform: uppercase;
 }
 .product .description{
    padding: 0 ;
    line-height: 1.2;
    height: 80px;
 }
 .product .price{
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    color: #9b0b03;
    padding-top: 30px;
    font-family: sans-serif;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    /* transform: rotate(-45deg); */
 }

 .product .dis{
   text-align: center;
    font-weight: 300;
    font-size: 22px;
    padding-top: 10px;
    color: rgb(121, 33, 33);
 }
 .product .cart{
    text-align: center;
    padding: 15px 0;
    margin-top: 40px;
    background-color: #3e628f;
    color: white;
    font-size: 18px;
    cursor: pointer;
 }
 .product .cart i{
    padding-left: 10px;
 }
 .view-more{
    margin: 0 auto;
    max-width: 1240px;
    padding: 20px;
    text-align: center;
 }
 .view-more button{
    padding: 10px 25px;
 }


/* -------------------------- */
/* *{
    margin: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 100%;
}

li{
    list-style-type: none;
}

.main{
    width: 80%;
    margin: 0 auto;
    background-color: white;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(300px,auto));
    gap: 5px;
}

/* .card img{ */
    /* height: 200px; */
/* } */

.main li{
    width: 200px;
} */